[submodule "ios-cmake"]
	path = external/ios-cmake
	url = https://github.com/leetal/ios-cmake.git
[submodule "Catch2"]
	path = external/Catch2
	url = https://github.com/catchorg/Catch2.git
[submodule "glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
[submodule "freetype"]
	path = external/freetype
	url = https://github.com/freetype/freetype.git
[submodule "box2d"]
	path = external/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "asio.cmake"]
	path = external/asio.cmake
	url = https://github.com/OlivierLDff/asio.cmake.git
[submodule "curl"]
	path = external/curl
	url = https://github.com/curl/curl.git
[submodule "sol2"]
	path = external/sol2
	url = https://github.com/ThePhD/sol2.git
[submodule "eventpp"]
	path = external/eventpp
	url = https://github.com/wqking/eventpp.git
[submodule "flatbuffers"]
	path = external/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "spdlog"]
	path = external/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "tinygltf"]
	path = external/tinygltf
	url = https://github.com/syoyo/tinygltf.git
[submodule "tracy"]
	path = external/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "openssl-cmake"]
	path = external/openssl-cmake
	url = https://github.com/viaduck/openssl-cmake.git
[submodule "myers-diff"]
	path = external/myers-diff
	url = https://github.com/gritzko/myers-diff.git
[submodule "glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator.git
[submodule "flecs"]
	path = external/flecs
	url = https://github.com/SanderMertens/flecs.git
[submodule "bullet3"]
	path = external/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "tinyobjloader"]
	path = external/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
