[submodule "MoltenVK"]
	path = external/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK.git
[submodule "Vulkan-Hpp"]
	path = external/Vulkan-Hpp
	url = https://github.com/KhronosGroup/Vulkan-Hpp
