[submodule "MoltenVK"]
	path = external/MoltenVK
	url = https://github.com/KhronosGroup/MoltenVK.git
[submodule "CrossWindow"]
	path = external/CrossWindow
	url = https://github.com/alaingalvan/CrossWindow.git
